.root {
  display: flex;
  align-items: center;
  color: var(--black-64);
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;

  &[data-checked="true"] {
    color: var(--dark-blue-100);
    
    .checkbox {
      border-color: var(--blue-100);
      background-color: var(--blue-100);
    }
  }
}

.hiddenInput {
  display: none;
}

.checkbox {
  display: inline-block;
  display: flex;
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  align-items: center;
  padding: 0 2.33px;
  border: 1px solid var(--text-ghost-color);
  border-radius: 4px;
  margin-right: 10px;
  background-color: var(--white-100);
  color: var(--white-100);
}