.main {
  display: flex;
  align-items: center;
  height: 50px;
  border-radius: 10px;
  margin-left: 10px;
  padding-left: 10px;
  width: 250px;
  border: 0.5px solid #bac1c5;
  justify-content: center;
}

.timeTo {
  margin-right: 0;
}

.value {
  margin: 0 10px;
  font-size: 18px;

}

.label {
  font-size: 14px;
  border: 0.5px solid #bac1c5;
  padding: 16px;
  background-color: #cbced0;
  color: white;
  margin-right: 7px;
  margin-left: 7px;
}

@media (max-width: 980px) {
  .main {
    width: 50%;
    align-self: center;
  }
}
