$sideButtonsRadius: 8px;
$bordersSize: 1px;

.radioButton {
  // width: 100% !important;
  width: max-content;
  justify-content: center;
  box-shadow: none !important;
  white-space: nowrap;

  &[data-active="true"] {
    border-color: var(--blue-20);
    background-color: var(--blue-06);
    color: var(--blue-100);

    &:disabled {
      border-color: var(--black-25);
    }
  }



  &:not(:first-child) {
    // margin-left: 8px;
  }
}