.typography {
  color: inherit;

  &[data-kind="title1"] {
    font-size: 48px;
    line-height: 58.09px;
  }

  &[data-kind="title2"] {
    font-size: 32px;
    line-height: 38.73px;
  }

  &[data-kind="title2"] {
    font-size: 24px;
    line-height: 38.73px;
  }

  &[data-kind="title3"] {
    font-size: 20px;
    line-height: 24px;
  }

  &[data-kind="title4"] {
    font-size: 18px;
    line-height: 24px;
  }

  &[data-kind="title5"] {
    font-size: 16px;
    line-height: 20px;
  }


  &[data-kind="text1"] {
    font-size: 14px;
    line-height: 16px;
  }

  &[data-kind="text2"] {
    font-size: 12px;
    line-height: 16px;
  }

  &[data-kind="text3"] {
    font-size: 10px;
    line-height: 14px;
  }
}

.typography {
  &[data-weight="bold"] {
    font-weight: 700;
  }

  &[data-weight="semibold"] {
    font-weight: 600;
  }

  &[data-weight="medium"] {
    font-weight: 500;
  }

  &[data-weight="regular"] {
    font-weight: 400;
  }
}

.typography {
  &[data-color="primary"] {
    color: var(--black-80);
  }

  &[data-color="secondary"] {
    color: var(--dark-blue-100);
  }

  &[data-color="ghost"] {
    color: var(--black-48);
  }
}